{% include 'header.html' %}

<main class="container my-4">
  <div class="row">
    <div class="col-lg-8">
      <h2 class="mb-2">Cart</h2>

      {% if cart %}
      {% for item in cart %}
      <div class="card mb-3">
        <div class="row g-0 align-items-center">
          <div class="col-3 p-2 d-flex align-items-center justify-content-center">
            <img src="{{ item.product_image }}" class="img-fluid" alt="{{ item.product_name }}">
          </div>
          <div class="col-6">
            <div class="card-body py-2">
              <h2 class="card-title mb-3">{{ item.product_name }}</h2>
            </div>
            <div>
              <a href="{{ url_for('cart_delete', user_id=current_user.user_id, product_id=item.product_id) }}">
                <button type="button" class="btn btn-danger">Remove from Cart</button>
              </a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

      {% else %}
      <div class="card p-4 mb-3">
        <div class="text-center">
          <h5 class="mb-2">Your Shopping Cart is empty</h5>
          <p class="small text-muted">Browse our categories to find something you love.</p>
          <a href="{{ url_for('home_page') }}" class="btn btn-outline-primary mt-2">Continue shopping</a>
        </div>
      </div>
      {% endif %}
      <!-- <div class="card p-3 mb-3">
        <h6 class="mb-2">Saved for later</h6>
        <p class="small text-muted mb-0">You have 0 items saved for later.</p>
      </div> -->
    </div>
  </div>
</main>

{% include 'footer.html' %}