{% include 'header.html' %}

<main class="container my-4">
  <h2 class="mb-3">{{ category.title() }}</h2>
  <div class="container">
    {% for product in products %}
    <div class="card">
      <div class="row g-0">
        <div class="col-4">
          <img src="{{ product.product_image }}" class="img-fluid rounded-start product-image" alt="...">
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h3 class="card-title">{{ product.product_name }}</h3>
            <p class="card-text description-text-lg">{{ product.product_description }}</p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</main>

{% include 'footer.html' %}
