<footer class="bg-dark text-light pt-5 mt-auto w-100">
	<div class="container">
		<div class="row">
			<div class="col-md-3 mb-3">
				<h6>Get to Know Us</h6>
				<ul class="list-unstyled small">
					<li><a class="text-muted" href="#">Careers</a></li>
					<li><a class="text-muted" href="#">About Us</a></li>
				</ul>
			</div>
			<div class="col-md-3 mb-3">
				<h6>Make Money with Us</h6>
				<ul class="list-unstyled small">
					<li><a class="text-muted" href="#">Sell on MyAmazon</a></li>
				</ul>
			</div>
			<div class="col-md-3 mb-3">
				<h6>Payment Products</h6>
				<ul class="list-unstyled small">
					<li><a class="text-muted" href="#">Credit Card</a></li>
				</ul>
			</div>
			<div class="col-md-3 mb-3">
				<h6>Let Us Help You</h6>
				<ul class="list-unstyled small">
					<li><a class="text-muted" href="#">Your Account</a></li>
				</ul>
			</div>
		</div>
	</div>
	<a href="https://www.flaticon.com/free-icons/trash-can" title="trash can icons" hidden>Trash can icons created by lalawidi - Flaticon</a>
</footer>
{{ bootstrap.load_js() }}
</html>